{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href={% static "reviews/style.css" %}>
</head>
<body>
    I am the review template

    {% if has_error %}
        {{has_error}}
    {% endif %}

    <form action="/submit/" method="POST" class="form">
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>
</body>
</html>